:root{
  --myGreen : #99dca8;
}
*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container{
      width:750px;
  }
}
@media (min-width:992px) {
  .container{
      width:970px;
  }
}
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
header{
  background-color: #232f3e;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px; /*for show the list icon*/
  position: relative;
}
header .container .logo{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: white;
  position: relative;
}
header .container .logo span::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--myGreen);
  transition: width 0.4s linear;
}
header .container .logo span:first-child::before{
  left: 0;
  top: -1px;
}
header .container .logo span:last-child::before{
  right: 0;
  bottom: -1px;
}
header .container .logo:hover span::before{
  width: 100%;
}
header .container .list{
  color: white;
  font-size: 20px;
  cursor: pointer;
}
header .container .menu-icon{ /*list icon in small screens*/
  display: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width:767px) {
  header .container .menu-icon{
    display: block;
  }
}
header .container ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
  transition: left 0.5s linear;
}
@media (max-width:767px) {
  header .container ul.show{
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    background-color: #eee;
    width: 100%;
    flex-direction: column;
  }
  header .container ul.hide{
    position: absolute;
    left: -1000px;
    top: 100%;
  }
}
header .container ul li{
  padding: 15px 20px;
}
header .container ul li a{
  color: white;
  text-decoration: none;
  transition: color 0.3s linear;
}
@media (max-width:767px){
  header .container ul li a{
    color: black;
  }
}
header .container ul li a:hover{
  color: var(--myGreen);
}
.landing{
  background: url("https://images.pexels.com/photos/1488463/pexels-photo-1488463.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 49px);
}
.landing .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width:767px){
  .landing .container{
    text-align: center;
  }
}
.landing .container div{
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.landing .container h1{
  color: var(--myGreen);
  font-size: 40px;
  line-height: 1.3;
}
.landing .container p{
  color: white;
  font-size: 23px;
  margin: 30px 0 40px;
  line-height: 1.5;
}
.landing .container a{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  align-self: center;
  transition: color 0.3s linear ;
}
.landing .container a:hover{
  color: var(--myGreen);
}
.products{
  padding-bottom: 50px;
  
}
.products .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  gap: 30px;
  border: 1px solid #ccc;
  padding: 15px;
  max-height: 80vh;
  overflow: auto;
}
@media (max-width:767px){
  .products .container{
    grid-template-columns: repeat(auto-fit, minmax(90%,1fr));
  }
}
.products .container::-webkit-scrollbar {
  width: 12px; 
}
.products .container::-webkit-scrollbar-thumb {
  background-color: var(--myGreen);
}
.products .container::-webkit-scrollbar-track {
  background-color: white;
}
.products .container .product{
  display: flex;
  background-color:#eee;
  padding: 35px 20px 45px;
  border-radius: 20px;
  position: relative;
}
.products .container .product img{
  width: 110px;
  height: 150px;
}
@media (max-width:767px){
  .products .container .product img{
    width: 90px;
    height: 120px;
  }
}
.products .container .product .image{
  align-self: center;
}
.products .container .product .productInfo{
  margin-left: 15px;
}
.products .container .product .productInfo h3{
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width:767px){
  .products .container .product .productInfo h3{
   font-size: 16px;
  }
}
.products .container .product .productInfo p{
  font-size: 15px;
  line-height: 1.3;
  color: #434343;
  max-height: 145px;
  overflow: auto;
}
@media (max-width:767px){
  .products .container .product .productInfo p{
   font-size: 14px;
  }
}
.products .container .product .productInfo p::-webkit-scrollbar {
  width: 12px; 
}
.products .container .product .productInfo p::-webkit-scrollbar-thumb {
  background-color: var(--myGreen);
}
.products .container .product .productInfo p::-webkit-scrollbar-track {
  background-color: white;
}
.products .container .product .productInfo span{
  background-color: var(--myGreen);
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  position: absolute;
  top: 0;
}
.products .container .product .productInfo span:first-of-type{
  left: 0;
  padding-left: 20px;
}
.products .container .product .productInfo span:last-of-type{
  right: 0;
  padding-right: 20px;
}
.products .container .product .productInfo span:first-of-type::before,
.products .container .product .productInfo span:last-of-type::before{
  content: "";
  position: absolute;
  top: 0;
  width: 0px;
  height: 0;
  border: 13px solid;
}
.products .container .product .productInfo span:first-of-type::before{
  left: 0;
  border-color: transparent transparent transparent white;
}
.products .container .product .productInfo span:last-of-type::before{
  right: 0;
  border-color: transparent white transparent transparent;
}
.categories{
  padding: 50px 0;
  text-align: center;
}
.categories button,
a.showCart{
  width: 150px;
  padding: 10px 15px;
  color: white;
  background-color: var(--myGreen);
  border: none;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width:767px){
  .categories button{
    width: 120px;
    font-size: 13px;
    font-weight: normal;
    margin: 10px;
    padding: 10px;
  }
}
a.showCart{
  text-decoration: none;
}
.products .container .product .productInfo .addToCart{
  color: var(--myGreen);
  font-size: 25px;
  position: absolute;
  right: 50%;
  bottom: 10px;
  transform: translate(50%, 0);
  cursor: pointer;
}
.cart{
  padding: 50px 0;
  text-align: center;
}
.cart h1{
  color: var(--myGreen);
}
.cart table{
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
@media (max-width:767px){
  .cart table{
    font-size: 14px;
  }
}
.cart table th,
.cart table td{
  padding: 10px;
}
.cart button,
.checkout form input[type="submit"]{
  padding: 10px;
  background-color: var(--myGreen);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
.cart table thead tr{
  background-color: var(--myGreen);
}
.cart table tr:nth-child(even){
  background-color:#eee;
}
.checkout{
  padding: 50px 0;
}
.checkout form{
  text-align: center;
  max-width: 800px;
  border: 1px solid var(--myGreen);
  margin: 0 auto;
  padding: 25px;
  border-radius: 20px;
}
.checkout form input:not([type="submit"]){
  display: block;
  border: none;
  padding: 10px;
  font-size: 17px;
  border-bottom:1px solid var(--myGreen) ;
  max-width: 400px;
  margin: 10px auto;
  color: var(--myGreen);
}
.checkout form input:not([type="submit"]):focus{
  outline: none;
}
.checkout form input[type="submit"]{
  margin-top: 20px;
}